#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_stardrillcoin
#build/stardrillcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_stardrillcoin)

DEB_INSTALL_EXAMPLES_stardrillcoin += debian/examples/*
DEB_INSTALL_MANPAGES_stardrillcoin += debian/manpages/*

%:
	dh $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix stardrillcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f stardrillcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake stardrillcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_stardrillcoin
	src/test_stardrillcoin

# Ensure wrapper is set executable
binary-post-install/stardrillcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/stardrillcoind
binary-post-install/stardrillcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/stardrillcoin-qt
